<% if rooms.any? %>
	<% count = 0 %>
 	<% rooms.each do |room| %>
		<% count = count+1 %>
		<section class="room js-room js-room-<%= count %><% if count === 1 %> active <% end %>">
			<%= room.name %>


			<figure class="avatar circle interactive">
				<div class="tooltip">
					<header><h3><%= @avatar.name %></h3></header>
					<section>
						<ul>
							<li>Sword</li>
							<li>Shield</li>
							<li>Armor</li>
						</ul>
					</section>
				</div>
			</figure>

			<% rooms.last.monsters.each do |monster| %>
				<figure class="monster interactive">
					<div class="tooltip">
						<header><h3><%= monster.name %></h3></header>
						<section>
							<ul>
								<li>A shadow is hiding in the smoke..</li>
								<li class="js-get-fight" data-monster= '{
									"name"    : "<%= monster.name%>",
									"id"      : "<%= monster.id%>",
									"hp"      : <%= monster.hp%>,
									"hpMax"   : <%= monster.hp%>,
									"exp"     : <%= monster.exp%>,
									"force"   : <%= monster.strong%>,
									"agility" : <%= monster.agility%>,
									"defence" : <%= monster.defence%>
									}'>Attack</li>
							</ul>
						</section>
					</div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
					<div class="smoke"></div>
				</figure>
			<% end %>

			<% room.chests.each do |chest| %>

				<figure class="chest circle interactive" style="left: 80%;">
					<div class="tooltip">
						<header><h3>Chest</h3></header>
						<section>
							<ul>
								<% if chest.items.count === 0 %>
									<li>Empty..</li>
								<% else %>
									<% chest.items.each do |item| %>
									<% @title = 'Take '+item.name %>
									<li class="js-add-item" data-item-id="<%= item.id %>"><%= 'Take '+item.name %></li>
									<% end %>
								<% end %>
							</ul>
						</section>
					</div>
				</figure>
			<% end %>

			<div class="stairs interactive" style="left: 20%; top: 40%;">
				<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 500 440.5" style="enable-background:new 0 0 500 440.5;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#9E9E9E;}
					.st1{fill:#FFFFFF;}
					.st2{fill:#D3D3D3;}
				</style>
				<g id="XMLID_16_">
					<polygon id="XMLID_8_" class="st0" points="212.7,440.5 501.5,280.5 501.5,120 332.5,216.4 212.7,408.5 	"/>
					<polygon id="XMLID_10_" class="st1" points="0,287.2 30.1,269.6 30,239.2 60.1,221.6 60,191.1 90.2,173.6 90,143.1 120.2,125.6
						119.8,95.2 332,216.4 332,248.4 302.6,264.4 304.4,296.5 273,312.4 273,343.3 241,360.5 241,392.5 211,408.5 	"/>
					<polygon id="XMLID_9_" class="st2" points="212.7,440.5 0,317.6 0,287.2 212.7,408.5 	"/>
					<polygon id="XMLID_11_" class="st2" points="242.7,392.5 30.1,269.6 30.1,239.2 242.7,360.5 	"/>
					<polygon id="XMLID_12_" class="st2" points="272.8,344.5 60.1,221.6 60.1,191.2 272.8,312.4 	"/>
					<polygon id="XMLID_13_" class="st2" points="304.3,296.5 90.2,173.6 90.2,143.2 302.8,264.4 	"/>
					<polygon id="XMLID_14_" class="st2" points="332.9,248.4 120.2,125.6 120.2,95.2 332.9,216.4 	"/>
					<polygon id="XMLID_15_" class="st1" points="501.5,120 282.8,0 120,95.2 332.5,216.4 	"/>
				</g>
				</svg>
				<div class="tooltip">
						<header><h3>Stairs</h3></header>
						<section>
							<ul>
								<% if count+1 > rooms.count %>
								    <li class="finish"">
								    	<%= link_to 'Leave the dungeon', {controller: "avatars", action: "finishDonjon", donjon_id: @donjon.id }%>
							    	</li>
							    <% else %>
							    <li class="js-next-room" data-next="<%= count+1 %>">Next room</li>
								<% end %>
								<% if count-1 > 0 %>
									<li class="js-prev-room" data-next="<%= count-1 %>">Previous room</li>
								<% else %>
									<% if current_user.avatar.countUnlockDonjon>1 %>
										<li class="finish"">
									    	<%= link_to 'Leave the dungeon', town_path %>
								    	</li>
								    <% end %>
								<% end %>
								<li>The stairs are closed .. A monster must have the key</li>
							</ul>
						</section>
					</div>
			</div>
		</section>
	<% end %>
<% end %>