<!DOCTYPE html>
<html>
  <head>
    <title>EpicQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  </head>

  <body class="<%= controller.controller_name %>">
    <div class="messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

	<% if user_signed_in?%>
		<button class="toggle-nav js-toggle-nav">
			<span></span>
		</button>
	    <nav class="main-nav js-main-nav">
	    	<div class="overlay"></div>

	    	    <div class="user-info">
	    	      <p><%= current_user.username%></p>
	    	      <%= link_to 'Logout' , destroy_user_session_path, :method => :delete, :class => "logout" %>
              <% if !current_user.avatar.nil? %>
              <% @avatar = current_user.avatar %>
                <p>
                  <%= current_user.avatar.name %>
                </p>


                <div class="avatarStats">
                  <span>HP</span>
                  <span class="line" data-hp="<%= @avatar.hp %>" data-maxHp="<%= @avatar.MaxHealth %>"></span>
                </div>
              <% end %>
	    	    </div>

	    </nav>
	<% end %>

      <%= yield %>


    <button class="inventoyButton">
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
        <style type="text/css">
          .inventorySvg{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
        </style>
        <rect id="XMLID_1_" x="3" y="8.4" class="inventorySvg" width="34.2" height="21.1"/>
        <line id="XMLID_3_" class="inventorySvg" x1="3" y1="16.5" x2="18" y2="16.5"/>
        <line id="XMLID_4_" class="inventorySvg" x1="22" y1="16.5" x2="37" y2="16.5"/>
        <rect id="XMLID_2_" x="17.8" y="14.8" class="inventorySvg" width="4.3" height="3.4"/>
        </svg>
    </button>
    <aside id="inventory">
      <span class="close js-close-bag"></span>
      <div class="bag-items js-bag-items">
        <%= render(:partial => './layouts/bag_items', locals: {items: @avatar.inventory.items, scope: @avatar})%>
      </div>
    </aside>
  </body>
</html>
