<!DOCTYPE html>
<html>
  <head>
    <title>EpicQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
  </head>

  <body class="<%= controller.controller_name %>">
    <div class="messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

	<% if user_signed_in?%>
		<button class="toggle-nav js-toggle-nav">
			<span></span>
		</button>
	    <nav class="main-nav js-main-nav">
	    	<div class="overlay"></div>

	    	    <div class="user-info">
	    	      <p><%= current_user.username%></p>
	    	      <%= link_to 'Logout' , destroy_user_session_path, :method => :delete, :class => "logout" %>
	    	    </div>

	    </nav>
	<% end %>

      <%= yield %>



  </body>
</html>
